@model DataLibrary.ViewModel.UserViewModel

<section id="two" class="wrapper style1 special">
    <div class="inner">
        <header>
            <h2>Students Details</h2>
        </header>
        <div class="flex flex-4">


            @for (int i = 0; i < Model.UserViewModelList.Count; i++)
            {
                <div class="box person">
                    <div class="image round">
                        <img src="/UserPhoto/@Model.UserViewModelList[i].Mobile/@Model.UserViewModelList[i].UserPhoto" alt="@Model.UserViewModelList[i].FirstName" />
                    </div>
                    <h3>@Model.UserViewModelList[i].FirstName @Model.UserViewModelList[i].LastName</h3>
                    <p>@Model.UserViewModelList[i].AboutInfo</p>
                </div>

                
            }
          
        </div>
    </div>
</section>
